<%= form_for(@employee) do |f| %>
  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% @employee.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="signup">
  <div class="field">
    <%= f.label :employee_name %><br />
    <%= f.text_field :employee_name %>
  </div>
  <div class="field">
    <%= f.label :employee_email %><br />
    <%= f.text_field :employee_email %>
  </div>
  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :department %><br />
    <%= f.text_field :department %>
  </div>

   <div class="field">
    <%= f.label :years_with_company %><br />
    <%= f.text_field :years_with_company %>
  </div>

  <div class="field">
    <%= f.label :manager %><br />
    <%= f.text_field :manager %>
  </div>

  <div class="field">
    <%= f.label :position %><br />
    <%= f.text_field :position %>
  </div>

  <div class="field">
    <%= f.label :group %><br />
    <%= f.text_field :group %>
  </div>

  <div class="field">
    <%= f.label :current_skills %><br />
    <%= f.text_field :current_skill %>
  </div>

  <div class="field">
    <%= f.label :skills_interested_in %><br />
    <%= f.text_field :skills_interested_in %>
  </div>

 

  <div class="actions">
    <%= f.submit %>
  </div>
</div>
<% end %>
