<%= form_for([@project_request, @reward]) do |f| %>
  <% if @reward.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reward.errors.count, "error") %> prohibited this reward from being saved:</h2>

      <ul>
      <% @reward.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :reward_date %><br />
    <%= f.date_select(:reward_date, :order => [:month, :day, :year], :default => @current_date) %>
 
  
  <% find_employee(@project_request.id) %>
  
   <%= f.hidden_field  :employee_id, :value => @employee_id  %>
   <%= f.hidden_field  :project_request_id, :value => @project_request.id %>
   <%  find_employee_name(@employee_id) %>
   <p> Employee Name:  
   <%= @name %> </p>
   <p> Project Request ID: <%= @project_request.title %> </p>

   <div class="field">
    <p> Total Number of Days  <%= @name %> Worked on This Project </P>
      <%= find_number_of_days(@project_request.id)  %>
   
  </div>

     
        <p>Please update observed skill levels, as appropriate </p>
<table>
        <% @skills.each do |skill| %> 
        <div class="inbox">
             <tr><td>
            <%= skill.language %></td>
              <td><% (0..4).each do |level| %>
              <%= radio_button_tag "@project_request.reward[skill_change][#{skill.id}]", "#{level}", @reward.has_skill_level(@employee_id, skill.id, level)  %>
 
              <%= level %>
              
              <% end %></td>

     
              <td>Experience Points: 
            
              <%= f.select :reward_points, days_array(@days) %> </td> </tr>
       
        </div>
        <% end %>
   
       
</table>
    
  
    
  </div> 
 
  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>
